<head>
	<title>Stieber Lab</title>
	<meta http-equiv="Content-Language" content="English" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="/css/style.css" media="screen" />
	<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css' />
<style>
.bluesky-follow-button {
  background-color: #41ADFF;
  color: white;
}
</style>
</head>
<div id="wrap">
	<div id="header">
		<div id="headerlinks">
		<a href="/index.html" title="Home">Home</a>
        	<a href="/stieberlab1teaching.html" title="Teaching">Teaching</a>
		<a href="/stieberlab2research.html" title="Research">Research</a>
		<a href="/stieberlab3group.html" title="Group">Group</a>
		<a href="/stieberlab4publications.html" title="Publications">Publications</a>
		<a href="/stieberlab5outreach.html" title="Outreach">Outreach</a>
		<a href="/stieberlab6resources.html" title="Resources">Resources</a>
		<a href="/stieberlab8CPPCC.html" title="Crystallography">Crystallography</a>
        <a href="/stieberlab7contact.html" title="Contact">Contact</a>
		</div>
		<h1><a href="/index.html">Stieber Lab</a></h1>
		<h2><a href="http://www.cpp.edu">California State Polytechnic University, Pomona</a></h2>
	</div>

<div id="sidebar">
		<h2></h2>
		<div class="box">
		<ul>
		<li><a href="#"><a href="https://bsky.app/profile/stieberlab.bsky.social" class="bluesky-follow-button" data-show-count="false">Follow @stieberlab.bsky.social</a>
</li>
		</ul>
		</div>

		<h2>Funding</h2>
		<div class="box">
		<ul>
		<li><a href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=1847926&HistoricalAwards=false">NSF CAREER</a></li>
        <li><a href="https://carbonsolution.uci.edu/">DoE C4 Center</a></li>
	<li><a href="#">Camille & Henry Dreyfus Foundation</a></li>
        <li><a href="https://www.cpp.edu/our-cpp/students/stars/index.shtml">Dept. of Educ.</a></li>
        <li><a href="#">NSF ACCESS/XSEDE</a></li>
	<li><a href="#">DoD</a></li>
        <li><a href="#">ARI</a></li>
        <li><a href="#">CSUPERB</a></li>            
        <li><a href="#">NIH</a></li>
        <li><a href="#">Kellogg RSCA</a></li>
        <li><a href="#">Faculty Mini Grant</a></li>
        <li><a href="#">SPICE</a></li>
        <li><a href="#">Cal Poly Pomona</a></li>
        </ul>
		</div>
	</div>

<section>

